#gate main {
	.timer.timer-music-modes {
		bottom: initial;
		left: 2rem;
		top: calc(26% - 3rem);
		width: calc(20% - 1.2rem);
	}

	.content.music-modes-screen {
		grid-template-areas: 'logo logo music music music music music music music .'
			                   '. . music music music music music music music .'
			                   '. . music music music music music music music .'
			                   '. . music music music music music music music .';

		.music-modes-wrapper {
			display: grid;
			grid-area: music;
			grid-auto-rows: min-content;
			grid-gap: 1rem;
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
			height: 100%;
			overflow-y: auto;
			scrollbar-width: none;
			width: 100%;

			&::-webkit-scrollbar {
				display: none;
			}

			.music-mode {
				backdrop-filter: blur(10px);
				background-color: rgba(255, 255, 255, 0.4);
				border-radius: 1rem;
				overflow: hidden;
				padding: 1rem;
				position: relative;

				* {
					z-index: 2;
				}

				.background {
					filter: blur(5px) brightness(.6);
					height: 100%;
					left: 0;
					object-fit: cover;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}

				.name {
					color: #fff;
					font-size: 1.75rem;
					font-weight: bold;
				}

				.icon {
					margin-bottom: .5rem;

					> * {
						height: 2.5rem;
						width: auto;
					}

					svg {
						path {
							fill: #fff;
						}
					}

					img {

					}
				}

				.children {
					color: #fff;
				}
			}
		}
	}
}