%players-teams {
	padding-bottom: 2.5rem;
	position: relative;
	width: 100%;
}

#gate main .content.results {
	grid-column-gap: 1.5rem;
	grid-template-areas: 'logo logo players players players players players players players teams'
			                   'info info players players players players players players players teams'
			                   'info info players players players players players players players teams'
			                   'info info players players players players players players players teams';
	//grid-template-areas: '. players teams' 'info players teams';
	//grid-template-columns: 27rem 1fr 13rem;
	//grid-template-rows: 9rem 1fr;

	&.no-teams {
		grid-template-areas: 'logo logo players players players players players players players players'
			                     'info info players players players players players players players players'
			                     'info info players players players players players players players players'
  			                   'info info players players players players players players players players';
	}

	.score {
		transition: color 200ms ease var(--delay, 0ms);
	}

	.info {
		align-items: center;
		color: var(--white-forced);
		display: flex;
		flex-direction: column;
		grid-area: info;
		justify-content: center;
		text-align: center;
		transform: translateX(0);
		transition: transform 300ms ease;

		svg {
			animation: highlight 8s ease infinite;
			border-radius: 1rem;
		}

		&.hide {
			transform: translateX(-50vw);
		}
	}

	.win {
		align-self: end;
		font-size: 1.5em;
		grid-area: win;

		> div {
			border-radius: calc(1.5em + .8rem);
			padding: .4rem;
			text-align: center;
		}
	}

	.players {
		@extend %players-teams;
		display: grid;
		grid-area: players;
		grid-gap: .2rem;
		grid-template: repeat(var(--rows, 11), 1fr) / repeat(var(--cols, 1), 1fr);
		justify-content: flex-end;
	}

	.teams {
		@extend %players-teams;
		align-items: center;
		align-self: end;
		display: flex;
		flex-direction: column;
		grid-area: teams;
		height: 100%;
		justify-content: space-between;
		text-align: center;
	}

	.player {
		animation-duration: 200ms;
		background-color: rgba(255, 255, 255, .9);
		flex: 1;

		&.dead {
			background-color: rgba(255, 200, 200, 0.9);
		}

		> div {
			flex: 1;
		}

		&.animate-in,
		&.animating {
			.rank {
				max-height: 0;
				opacity: 0;
			}
		}

		&.animate-in {
			animation: slide-fade-in 300ms ease forwards;
			opacity: 0;
		}

		// &.animating {
		// 	position: absolute;
		// 	top: 0;
		// 	transition: top 200ms ease-in-out;
		// }

		&.done {
			animation: wave 1000ms ease forwards calc(1000ms + (var(--delay, 0ms) * 2));
		}
	}

	.team {
		flex-direction: column;
		justify-content: center;
		max-width: 13rem;
		min-height: 8rem;
		transition: height 20ms linear;

		.name {
			font-size: 1.7rem;
		}

		.crown {
			max-height: 2rem;
			opacity: 1;
			overflow: hidden;
			transition: max-height 200ms ease var(--delay, 0ms), opacity 200ms ease var(--delay, 0ms);
		}

		&.animating {
			position: absolute;
			top: 0;
			transition: top 200ms ease-in-out, height 200ms linear;

			.crown {
				max-height: 0;
				opacity: 0;
			}
		}
	}

	&.in {
		.team {
			animation: slide-in-right 500ms ease forwards 500ms;
			transform: translateX(100vw);
		}
	}

	&.out {
		.player {
			animation: slide-fade-out 300ms ease forwards var(--delay, 0ms);
		}

		.team {
			animation: slide-out-right 500ms ease forwards 100ms;
		}

		.info {
			animation: slide-out-left 400ms ease forwards 100ms;
		}
	}

	.player,
	.team {
		align-items: center;
		border-radius: 10px;
		display: flex;
		margin: calc(.2rem * var(--multiplier)) 0;
		width: 100%;

		> .name,
		> .score,
		> .rank,
		> .position,
		> .rank-name {
			padding: .4rem 1rem;
		}

		> .name {
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
			font-weight: bold;
		}

		> .position {
			font-size: calc(1.7rem * var(--multiplier));
			max-width: 5rem;
			text-align: center;
		}

		> .trophies {
			font-size: calc(1.4rem * var(--multiplier));
		}

		> .score, > .ammo, > .lives {
			font-size: calc(1.7rem * var(--multiplier));
			font-weight: bold;
		}

		svg.accuracy {
			--color: rgb(72, 196, 255);
			display: block;
			margin: 0 auto;
			max-width: calc(5rem * var(--multiplier));
			position: relative;
			width: 100%;

			* {
				font-size: 64pt;
			}

			path,
			rect,
			text {
				fill: var(--color);
			}

			.fill-circle {
				opacity: .4;
				stroke: var(--color);
				transform: rotate(-90deg);
				transform-origin: center;
			}
		}
	}

	.player-avatar {
		height: 100%;
		max-height: 4rem;
	}

	.rank-name {
		display: flex;
		flex-direction: column;

		.name {
			font-size: calc(1.4rem * var(--multiplier));
			font-weight: bold;
			text-shadow: 0 0 5px var(--white-forced);
			text-transform: uppercase;
		}
	}

	.team svg {
		position: relative;
		top: -.2rem;
	}

	.rank {
		max-height: 2rem;
		opacity: 1;
		overflow: hidden;
		transition: max-height 200ms ease var(--delay, 0ms), opacity 200ms ease var(--delay, 0ms);

		svg {
			position: relative;
			top: calc((-1.4rem + 15px) / 2);
		}
	}

	svg {
		path {
			fill: var(--text-color);
		}
	}
}