@import '../pages/gate/parts';

#gate main {
	.timer.timer-rtsp {
		bottom: initial;
		left: 2rem;
		top: calc(26% - 3rem);
		width: calc(20% - 1.2rem);
	}

	.content.rtsp-screen {
		grid-template-areas: 'logo logo streams streams streams streams streams streams streams streams'
			                   '. . streams streams streams streams streams streams streams streams'
			                   '. . streams streams streams streams streams streams streams streams'
			                   '. . streams streams streams streams streams streams streams streams';


		.streams {
			align-content: center;
			display: grid;
			grid-area: streams;
			grid-gap: 1rem;

			.stream {
				width: 100%;
			}
		}

		&.in {
			.stream {
				animation: slide-fade-in 300ms ease forwards;
				opacity: 0;
			}
		}

		&.out {
			.stream {
				animation: slide-fade-out 300ms ease forwards;
			}
		}
	}
}