%wrapper {
	display: grid;
	grid-template-areas: 'title' '.';
	grid-template-rows: auto 1fr;
	width: 100%;
}

%data-block {
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, .9);
	border-radius: 10px;
	display: grid !important;
	grid-gap: 1rem;
	grid-template-columns: 3rem 1fr 5rem;
	margin: 1rem;
	padding: 1rem 2rem;
	scroll-snap-align: start;
}

%missing-data {
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	font-weight: bold;
	margin: 1rem;
	padding: 3rem 6rem;
	text-align: center;
}

#gate main {
	.timer.timer-today-highlights {
		bottom: initial;
		left: 2rem;
		top: calc(26% - 3rem);
		width: calc(20% - 1.2rem);
	}

	.content.today-highlights-rtsp {
		font-size: 1.55rem;

		grid-template-areas: 'logo highlights streams' '. highlights streams' '. music streams' '. players streams' '. . streams';
		grid-template-columns: 22rem 1fr 35rem;
		grid-template-rows: 5rem 1fr 1fr 1fr 3rem;

		.streams {
			align-content: center;
			display: grid;
			grid-area: streams;
			grid-gap: 1rem;
			grid-template-columns: 1fr;
			height: 100%;
			width: 100%;

			.stream {
				height: 100%;
				object-fit: contain;
				overflow: hidden;
				width: 100%;
			}
		}

		.highlights-wrapper {
			@extend %wrapper;
			grid-area: highlights;
		}

		.music-modes-wrapper {
			@extend %wrapper;
			grid-area: music;

			.music-modes {
				mask-image: linear-gradient(180deg, #000 60%, transparent);
				overflow-y: hidden;
			}

			.music-mode {
				@extend %data-block;

				.name {
					color: var(--primary);
					font-weight: bold;
				}

				.count {
					text-align: right;
				}
			}

			.no-music {
				@extend %missing-data;
			}
		}

		.top-players-wrapper {
			@extend %wrapper;
			grid-area: players;

			.top-players {
				mask-image: linear-gradient(180deg, #000 60%, transparent 90%);
				overflow-y: hidden;
			}

			.player {
				@extend %data-block;
				grid-template-columns: 3rem 1fr auto;

				.name {
					color: var(--primary);
					font-weight: bold;
				}

				.skill {
					text-align: right;
				}
			}

			.no-players {
				@extend %missing-data;
			}
		}

		.title {
			align-self: end;
			grid-area: title;
		}

		.highlights {
			mask-image: linear-gradient(180deg, #000 70%, transparent 95%);
			overflow-style: unset;
			overflow-y: auto;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.no-highlights {
				@extend %missing-data;
			}

			.highlight {
				@extend %data-block;
				grid-template-columns: 4rem 1fr 4rem;

				svg {
					max-height: 1.5em;
					max-width: 4rem;
				}

				.description {
					font-weight: 600;

					.player-name {
						color: var(--primary);
						font-weight: 700;
					}
				}

				.time {
					text-align: right;
				}
			}
		}

		&.out {
			animation: scale-out 500ms ease-in forwards;
		}

		&.in {
			animation: scale-in 500ms ease-in 200ms forwards;
			opacity: 0;
		}
	}
}