#gate main {
	.timer.timer-rtsp {
		bottom: initial;
		left: 30%;
		top: 1rem;
		width: calc(20% - 1.2rem);
	}

	.content.today-rtsp {
		align-content: center;
		font-size: 1.55rem;
		grid-row-gap: 1rem;
		grid-template-areas: 'logo . title' 'streams streams score' 'streams streams score' 'streams streams best';
		grid-template-columns: 22rem 1fr 35rem;
		grid-template-rows: 5rem 1fr 1fr 1fr 3rem;

		.streams {
			align-content: center;
			display: grid;
			grid-area: streams;
			height: 100%;
			width: 100%;

			.stream {
				height: 100%;
				object-fit: contain;
				overflow: hidden;
				width: 100%;
			}
		}

		.title {
			align-self: end;
			grid-area: title;
		}

		.score {
			display: flex;
			flex-direction: column;
			grid-area: score;
			justify-content: space-evenly;
			justify-self: stretch;
		}

		.best {
			grid-area: best;
			justify-self: stretch;
		}

		.bbd {
			border-bottom: 2px solid var(--blue-800);
		}

		.text-center svg {
			margin: 0 auto;
			position: relative;
		}

		svg {
			display: block;

			path {
				fill: currentColor;
			}
		}

		&.out {
			animation: scale-out 500ms ease-in forwards;
		}

		&.in {
			animation: scale-in 500ms ease-in 200ms forwards;
			opacity: 0;
		}
	}
}