@page {
	margin: 5mm;
  size: A4;
}

.container-print-wrapper {
	aspect-ratio: calc(297 / 210);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 297mm;
	position: relative;
	width: 210mm;
	z-index: 0;

	.bg-img {
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.container-print {
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.tip {
		bottom: 7%;
		display: none;
		left: 0;
		position: absolute;
		width: 100vw;
		z-index: 2;
	}
}

@media print {
	.container-print-wrapper {
		overflow: hidden;
		padding: 5mm;

		.bg-img {
			display: initial;
		}

		.tip {
			display: block;
		}
	}
}
