@import '../general';

.template-default {
	--size: 9pt;
	align-items: center;
	display: grid;
	grid-gap: .5rem;
	grid-template-areas:
	   '. qr'
		 'info qr'
		 'scores scores'
		 'win win'
		 'players players'
		 'today today'
		 'hits teams'
		 'hits bests';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2cm auto;
	justify-content: start;
	--font-size: 6pt;

	&.solo {
		grid-template-areas:
		 '. qr'
		 'info qr'
		 'scores scores'
		 'win win'
		 'players players'
		 'today today'
		 'hits bests';
	}

	> * {
		max-width: 100%;
	}

	* {
		font-size: var(--font-size);
	}

	.team-color {
		border-radius: 50%;
		display: inline-block;
		height: var(--size);
		margin-bottom: calc(var(--size) / -4);
		position: relative;
		width: var(--size);
	}

	.results-qr {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		grid-area: qr;
		height: 100%;
		justify-content: flex-start;
		width: 100%;

		svg {
			--size: 2cm;
			height: var(--size);
			right: 0;
			top: 0;
			width: var(--size);
		}
	}

	.results-header {
		grid-area: info;
		max-width: 20cm;
		width: 100%;

		td,
		th {
			border: none;
			padding: .3rem .5rem;
			text-align: left;
		}
	}

	th,
	td {
		border: 1px solid var(--print-dark);
		padding: .3rem;
		text-align: center;
		vertical-align: middle;
		word-break: break-word;
	}

	table {
		border: 1px solid var(--print-dark);
		border-radius: 10px;
		caption-side: top;
		max-width: 100%;
		overflow: hidden;

		thead {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		tbody {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		tbody,
		thead {
			border: none !important;
			overflow: hidden;
		}
	}

	caption,
	.caption {
		color: var(--print-primary);
		font-size: calc(var(--size) * 1.1);
		font-weight: bold;
		padding: .4rem 0;
	}

	table:not(.colorless) {
		border-collapse: collapse;

		th {
			background-color: var(--print-dark);
			border-bottom: 1px solid var(--print-dark-text);
			color: var(--print-dark-text);
		}

		tr:nth-child(even) td {
			background-color: var(--print-light);
			color: var(--print-light-text);
		}
	}

	.results-scoring {
		grid-area: scores;

		td, th {
			padding: .1rem;
		}
	}

	.results-hits {
		grid-area: hits;
		table-layout: fixed;

		--size-x: 5rem;
		--size-y: calc(var(--size-x) / 3);

		thead {
			th {
				height: var(--size-x);
				position: relative;
				//width: var(--size-y);

				.rotate-90 {
					height: var(--size-y);
					line-height: var(--size-y);
					width: var(--size-x);
				}
			}

			th:nth-child(1) {
				width: var(--size-x);
			}
		}
	}

	.results-teams {
		grid-area: teams;
	}

	.results-players {
		grid-area: players;

		td {
			max-width: 100pt;
		}

		tbody th {
			text-align: left;
		}
	}

	.results-bests {
		grid-area: bests;

		.w-100 {
			border: 1px solid var(--print-dark);

			> div {
				border: 1px solid var(--print-dark);
			}

			div.w-50 {
				line-height: var(--size);
			}
		}
	}

	.results-today {
		grid-area: today;
	}

	.results-win {
		grid-area: win;

		> div {
			border-radius: 10px;
			font-size: 1.5em;
			font-weight: bold;
			padding: 1em 0;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.rotate-90 {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(90deg) translate(var(--size-y), var(--size-y));
		z-index: 2;
	}

}
