.template-graphical .results-players {
	.results-player.dead {
		background-color: #fff6f6;
	}

	.hits {
		height: auto;
	}
}

.lives {
	display: flex;
	justify-content: space-evenly;
	width: 100%;

	.life {
		flex: 1 1 0;
		max-width: 10pt;
		padding: 0 1px;
	}
}

.lives-count {
	text-align: center;
}