@import '../general';

.template-graphical {
	--size: 9pt;
	align-items: center;
	display: grid;
	grid-gap: .5rem;
	grid-template-areas: 'info qr' 'teams teams' 'players players' 'legend legend';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 27mm auto 1fr 5mm 12mm;
	height: 100%;
	justify-content: start;
	--font-size: 7pt;

	&.solo {
		grid-template-areas: 'info qr' 'players players' 'legend legend';
		grid-template-rows: minmax(25mm, 33mm) 1fr 5mm 10mm;

		&.less-players {
			grid-template-areas: 'info qr' 'players hits' 'legend legend';
		}
	}

	&.less-players {
		grid-template-areas: 'info qr' 'teams teams' 'players hits' 'legend legend';
		grid-template-columns: 2fr 1fr;
	}

	.fs-sm {
		font-size: calc(var(--font-size) * .8) !important;
	}

	> * {
		max-width: 100%;
	}

	* {
		font-size: var(--font-size);
	}

	.team-color {
		border-radius: 50%;
		display: inline-block;
		height: var(--size);
		margin-bottom: calc(var(--size) / -4);
		position: relative;
		width: var(--size);
	}

	.results-win {
		grid-area: win;
		justify-self: center;

		> div {
			background-color: color-mix(in srgb, var(--team-color) 5%, white);
			border: 2px solid var(--team-color);
			border-radius: 5rem;
			--team-color: var(--print-primary);
			--text-color: var(--team-color);
			color: var(--team-color);
			font-size: 1.5em;
			font-weight: bold;
			padding: 1rem 7rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.results-qr {
		align-items: flex-start;
		color: var(--white);
		display: flex;
		grid-area: qr;
		height: 100%;
		justify-content: flex-end;
		width: 100%;

		svg {
			--size: 18mm;
			height: var(--size);
			right: 0;
			top: 0;
			width: var(--size);

			path {
				fill: #000 !important;
			}
		}
	}

	.results-legend {
		align-items: center;
		display: flex;
		grid-area: legend;
		justify-content: center;

		.legend {
			margin: .5rem 1rem;
		}
	}

	.results-header {
		align-self: start;
		grid-area: info;
		max-width: 20cm;
		width: 100%;

		td,
		th {
			border: none;
			padding: .3rem .5rem;
			text-align: left;
		}
	}

	th,
	td {
		border: 1px solid var(--print-dark);
		padding: .3rem;
		text-align: center;
		vertical-align: middle;
		word-break: normal;
	}

	table {
		border: none;
		border-radius: 10px;
		caption-side: top;
		max-width: 100%;
		overflow: hidden;

		thead {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		tbody {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		tbody,
		thead {
			border: none !important;
			overflow: hidden;
		}

		td,
		th {
			background-color: var(--bg-color);
			border: none;
			border-radius: 10px;
		}

		tbody tr:nth-child(odd) td {
			background-color: var(--print-light);
		}

		tbody tr:nth-child(even) td {
			background-color: var(--white);
		}
	}

	caption,
	.caption {
		color: var(--print-primary);
		font-size: calc(var(--size) * 1.1);
		font-weight: bold;
		padding: .4rem 0;
	}

	.results-teams {
		display: flex;
		grid-area: teams;
		width: 100%;

		svg {
			path {
				fill: var(--text-color);
			}
		}

		.team-score {
			align-items: center;
			background-color: color-mix(in srgb, var(--team-color) 5%, white);
			border: 2px solid var(--team-color);
			--text-color: var(--team-color);
			color: var(--team-color);
			display: flex;
			flex-direction: column;
			font-weight: 600;
			justify-content: center;
			line-height: 1.1;
			min-width: 6rem;
			padding: 2pt 1rem;
			--font-size: 9pt;
			text-align: center;
			text-transform: uppercase;
		}
	}

	path {
		fill: currentColor;
	}

	.results-players {
		align-self: center;
		display: grid;
		grid-area: players;
		grid-gap: 2pt;

		.results-player {
			border: 2px solid var(--team-color);
			padding: .5rem .2rem .2rem;
		}

		.player-head {

			svg {
				display: block;
				margin: 0 auto;
				position: relative;
			}

			.player-rank {
				height: 1rem;
				line-height: 1.1;
				text-align: center;
			}

			.rank-name {
				font-size: calc(var(--font-size) * .9);
			}

			.player-name {
				font-size: calc(var(--font-size) * 1.3);
				font-weight: bold;
				margin: .2rem 0 0;
				text-transform: uppercase;
			}
		}

		.score-shadow {
			height: 40pt;
			padding: .2rem;
			position: relative;
			width: 100%;
		}

		.player_mines {

			svg {
				display: block;
				margin: 0 auto;
				position: relative;
			}

			.bonus {
				display: flex;
				width: 100%;

				div {
					flex: 1;
					padding: .2rem;
					text-align: center;
				}
			}
		}

		.score {
			height: calc(100% - 1.5em);
			position: relative;
			top: 1.5em;
			width: 100%;

			.score-number {
				position: absolute;
				text-align: center;
				width: 100%;
			}

			.inner {
				opacity: 70%;
				position: absolute;
				width: 100%;
			}

			.line {
				background-color: #000;
				height: 1px;
				position: absolute;
				width: 100%;
			}
		}

		.hits {
			align-self: center;
			display: flex;
			flex-direction: column;
			height: 6rem;
			--bg-opacity: 10%;
			--deaths-own-rgb: 179, 80, 80;
			--kills-own-rgb: 80, 179, 93;
			position: relative;
			--deaths-rgb: 234, 85, 85;
			--kills-rgb: 85, 234, 106;
			text-align: center;
			width: 100%;

			.kills-row, .deaths-row {
				align-items: center;
				display: flex;
				justify-content: flex-start;
				min-height: 2rem;
				width: 100%;
			}

			.kills {
				background-color: rgba(var(--kills-rgb), var(--bg-opacity));
				border-color: rgb(var(--kills-rgb));
			}

			.kills-own {
				background-color: rgba(var(--kills-own-rgb), var(--bg-opacity));
				border-color: rgb(var(--kills-own-rgb));
			}

			.deaths {
				background-color: rgba(var(--deaths-rgb), var(--bg-opacity));
				border-color: rgb(var(--deaths-rgb));
			}

			.deaths-own {
				background-color: rgba(var(--deaths-own-rgb), var(--bg-opacity));
				border-color: rgb(var(--deaths-own-rgb));
			}

			.kills,
			.deaths,
			.kills-own,
			.deaths-own {
				border-style: solid;
				border-width: 2px;
				display: flex;
				flex-shrink: 1;
				height: 100%;
				min-width: 2rem;
				padding: 3pt 0;

				.main {
					align-items: center;
					display: flex;
					flex: 1;
					flex-direction: column;
					height: 100%;
					justify-content: center;
					padding: 0 .3rem;
				}

				.side {
					display: flex;
					flex-direction: column;
					height: 100%;
					max-width: 20%;

					.other {
						background-color: rgba(255, 255, 255, .5);
					}

					.own {
						background-color: rgba(105, 0, 0, 0.6);
						color: #fff;
					}

					.own,
					.other {
						align-items: center;
						display: flex;
						justify-content: center;
						min-height: 1.5em;
						padding: 0 .2rem;
					}
				}

				.icon {
					display: flex;
					justify-content: center;
				}

				.number {
				}
			}
		}

		svg.accuracy {
			--color: rgb(72, 196, 255);
			display: block;
			margin: 0 auto;
			max-width: 3rem;
			position: relative;
			width: 100%;

			* {
				font-size: 64pt;
			}

			path,
			rect,
			text {
				fill: var(--color);
			}

			.fill-circle {
				opacity: .2;
				stroke: var(--color);
				transform: rotate(-90deg);
				transform-origin: center;
			}
		}

		.player-shots {
			text-align: center;

			.number svg {
				display: inline-block;
				width: auto;
			}

			svg {
				max-height: 8mm;
				width: 100%;

				.empty path {
					fill: transparent;
					stroke: #000;
					stroke-width: 2px;
				}
			}
		}

		.player-favourites {
			line-height: 1.1;

			strong {
				line-height: 1.5;
			}

			.player-name {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.rotate-90 {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(90deg) translate(var(--size-y), var(--size-y));
		z-index: 2;
	}

	.results-hits {
		grid-area: hits;

		.player-hits {
			--color: var(--print-primary);
			border: 1px solid var(--color);
		}

		.player-hit-name {
			word-break: normal;
		}
	}

}
