// File: _custom.scss
// Author: Tomáš Vojík <xvojik00@stud.fit.vutbr.cz>
// Bootstrap customizations.

@use 'sass:map';
@use 'functions';

$utilities-bg-colors: map.merge($utilities-bg-colors, $utilityColors);
$utilities-text-colors: map.merge($utilities-text-colors, $utilityColors);

@import '~bootstrap/scss/utilities';

//$card-bg: map.get($theme-colors, 'dark');

$utilities: map.deep-merge(
		$utilities,
		(
			'border-color': (
				values: $utilityColors
			),
			'cursor': (
				property: cursor,
				class: cursor,
				responsive: false,
				print: false,
				values: (
					pointer: pointer,
					default: default,
					help: help,
					not-allowed: not-allowed,
					copy: copy,
					crosshair: crosshair,
				),
			),
			'font-size': (
				values: (
					sm: .8rem,
				),
				responsive: true,
			),
			"min-viewport-height": (
				values: (
					25: 25vh,
					50: 50vh,
					60: 60vh,
					75: 75vh,
				),
			),
			"line-height": (
				values: (
					size: var(--size, 1),
				),
			),
			"rounded": (
				values: (
					10: 10px,
				)
			),
			"rounded-top": (
				values: (
					10: 10px
				)
			),
			"rounded-end": (
				values: (
					10: 10px
				)
			),
			"rounded-bottom": (
				values: (
					10: 10px
				)
			),
			"rounded-start": (
				values: (
					10: 10px
				)
			),
		),
);