@use 'functions';
@use 'sass:map';

// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

// Vendor
@import '~bootstrap/scss/vendor/rfs';

// Deprecate
@import '~bootstrap/scss/mixins/deprecate';

// Helpers
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/color-mode';
@import '~bootstrap/scss/mixins/color-scheme';
@import '~bootstrap/scss/mixins/image';
@import '~bootstrap/scss/mixins/resize';
@import '~bootstrap/scss/mixins/visually-hidden';
@import '~bootstrap/scss/mixins/reset-text';
@import '~bootstrap/scss/mixins/text-truncate';

// Utilities
@import '~bootstrap/scss/mixins/utilities';

// Components
@import '~bootstrap/scss/mixins/backdrop';
@import '~bootstrap/scss/mixins/buttons';
@import '~bootstrap/scss/mixins/caret';
@import '~bootstrap/scss/mixins/pagination';
@import '~bootstrap/scss/mixins/lists';
@import '~bootstrap/scss/mixins/forms';
@import '~bootstrap/scss/mixins/table-variants';

// Skins
@import '~bootstrap/scss/mixins/border-radius';
@import '~bootstrap/scss/mixins/box-shadow';
@import '~bootstrap/scss/mixins/gradients';
@import '~bootstrap/scss/mixins/transition';

// Layout
@import '~bootstrap/scss/mixins/clearfix';
@import '~bootstrap/scss/mixins/container';
@import '~bootstrap/scss/mixins/grid';

@mixin responsiveGridTemplate($areas, $breakpoints) {
	@each $breakpoint, $values in $breakpoints {
		$cols: map.get($values, 'cols');
		$rows: map.get($values, 'rows');
		$colUnit: 1fr;
		$rowUnit: auto;
		$customCols: ();
		$customRows: ();

		@if map.has-key($values, 'colUnit') {
			$colUnit: map.get($values, 'colUnit');
		}
		@if map.has-key($values, 'rowUnit') {
			$rowUnit: map.get($values, 'rowUnit');
		}
		@if map.has-key($values, 'customCols') {
			$customCols: map.get($values, 'customCols');
		}
		@if map.has-key($values, 'customRows') {
			$customRows: map.get($values, 'customRows');
		}

		@if $breakpoint == 'default' {
			grid-template-columns: functions.templateColumns($cols, $areas, $breakpoint, $colUnit, $customCols);
			grid-template-rows: functions.templateRows($rows, $areas, $breakpoint, $rowUnit, $customRows);
		} @else {
			@include media-breakpoint-down($breakpoint) {
				grid-template-columns: functions.templateColumns($cols, $areas, $breakpoint, $colUnit, $customCols);
				grid-template-rows: functions.templateRows($rows, $areas, $breakpoint, $rowUnit, $customRows);

			}
		}
	}
}