// File: main.scss
// Author: Tomáš Vojík <xvojik00@stud.fit.vutbr.cz>
// Main stylesheet that is compiled into /dist/main.css

@import '~bootstrap/scss/functions';
@import 'variables/customVariables';
@import '~bootstrap/scss/variables';

@import 'custom';

// BS Configuration
@import '~bootstrap/scss/mixins';

@import 'maps';

// Utilities
//@import '~bootstrap/scss/utilities';

// BS Layout & components
@import '~bootstrap/scss/root';
@import 'darkMode';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/offcanvas';
@import '~bootstrap/scss/placeholders';

// BS Helpers
@import '~bootstrap/scss/helpers';

// BS Utilities
@import '~bootstrap/scss/utilities/api';

// Core items
@import 'animations';

// Utilities
@import 'utilities/text';
@import 'utilities/border';
@import 'utilities/background';
@import 'utilities/filling';
@import 'utilities/headings';
@import 'utilities/tooltip';

// Components
@import '~flatpickr';
@import 'components/datepicker';
@import 'components/inputs';
@import 'components/tip';
@import 'components/loaders';
@import 'components/gameTimer';
@import 'components/sortable';

// Pages
@import 'pages/gate';
@import 'pages/newGame';

// Results
@import 'results/general';
@import 'results/default';
@import 'results/graphical';

// Font Awesome
@import '~@fortawesome/fontawesome-free/css/all.css';

#modeSwitch {
	font-size: 1.3rem;
	overflow: hidden;
	position: relative;
	width: 3rem;

	i {
		left: 50%;
		position: absolute;
		top: .8rem;
		transition: translate .3s ease;
	}

	&.btn-dark {
		.fa-moon {
			translate: 4rem;
		}

		.fa-sun {
			translate: -50%;
		}
	}

	&.btn-light {
		.fa-moon {
			translate: -50%;
		}

		.fa-sun {
			translate: -4rem;
		}
	}
}

header.navbar {
	> .container-fluid {
		display: grid;
		grid-template-areas: 'brand nav actions';
		grid-template-columns: auto 1fr auto;

		.navbar-brand {
			grid-area: brand;
		}

		.navbar-collapse {
			grid-area: nav;
		}

		.actions {
			grid-area: actions;
		}

		@include media-breakpoint-down(lg) {
			grid-template-areas: 'brand . actions' 'nav nav nav';
		}
	}
}