.collapse-grid {
  display: grid;
  grid-template-rows: 0fr;

  @media (prefers-reduced-motion: no-preference) {
    transition: grid-template-rows 200ms ease;
  }

  &.show {
    display: grid;
    grid-template-rows: 1fr;
  }

  .collapse-inner {
    overflow: hidden;
    transition: padding 200ms ease;
  }

  &:not(.show) {
    .collapse-inner {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
  }
}