.country-select-input {
	display: none;

	&:checked + label {
		outline: 2px solid var(--primary);
	}
}

.country-select {
	border-radius: 10%;

	img {
		height: var(--size, 30px);
		width: var(--size, 30px);
	}
}

input[readonly] {
	cursor: not-allowed;
}

.last-save-wrapper.position-fixed {
	z-index: 10;
}

.team-select-wrapper {
  --width: 2rem;
}

label.team-color {
	content: ' ';
	cursor: pointer;
	display: flex;
	opacity: .4;
	position: relative;
	transition: opacity .1s ease;
  width: var(--width, 2rem);

	.team-color-input:checked + & {
		align-items: center;
		display: flex;
		justify-content: center;
		opacity: 1;

		&:after {
			background-color: var(--white-forced);
			border-radius: 50%;
			content: '';
			height: .5rem;
			position: absolute;
			width: .5rem;
		}
	}

	.team-color-input.hide + & {
		display: none;
	}

  @include media-breakpoint-down(sm) {
    height: 2.5rem;
  }
}

.team-color-input {
	display: none;
}

.image-input-with-preview {
	--size: 3rem;
	background-color: var(--background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid var(--bs-border-color);
	cursor: pointer;
	height: var(--size);
	width: var(--size);

	input {
		display: none;
	}

	img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}

	svg {
		height: 100%;
		width: 100%;

		path {
			fill: currentColor;
		}
	}
}

.input-group .image-input-with-preview {
	height: auto;
}