#game-mode {
	grid-column: mode;
	grid-row: mode;
}

#game-mode-variations {
	grid-column: settings;
	grid-row: variations;

	#game-mode-variations-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.btn-group {
		flex-wrap: wrap;
	}
}