{layout '../../@layoutPublic.latte'}

{templateType App\Templates\Public\MusicTemplate}

{block content}
	<div class="music-groups-wrapper" data-count="{count($music)}">
		{foreach $music as $musicGroup}
			{include '../../components/music/musicModeCard.latte', $musicGroup, true, true}
		{/foreach}
	</div>
{/block}