tables:
	App\Models\MusicMode:
		order: 0
		definition: '''
    		(
    			`id_music` int(11) unsigned NOT NULL AUTO_INCREMENT,
    			`name` varchar(80) NOT NULL,
    			`group` VARCHAR(80)  CHARACTER SET utf8mb4  COLLATE utf8mb4_general_ci DEFAULT NULL,
    			`file_name` varchar(100) NOT NULL DEFAULT '',
    			`intro_file` varchar(255) DEFAULT NULL,
                `ending_file` varchar(255) DEFAULT NULL,
                `armed_file` varchar(255) DEFAULT NULL,
  				`background_image` varchar(255) DEFAULT NULL,
  				`icon` varchar(255) DEFAULT NULL,
    			`order` int(10) unsigned NOT NULL DEFAULT 0,
    			`preview_start` int(10) unsigned NOT NULL DEFAULT 0,
    			`public` tinyint(1) NOT NULL DEFAULT 1,
    			PRIMARY KEY (`id_music`),
    			INDEX `group` (`group`)
    		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
        	'''
		modifications:
			0.1:
				- 'ADD `preview_start` int(10) unsigned NOT NULL DEFAULT 0 AFTER `order`'
				- 'ADD `public` tinyint(1) NOT NULL DEFAULT 1 AFTER `preview_start`'
			0.2:
				- 'CHANGE `name` `name` VARCHAR(80)  CHARACTER SET utf8mb4  COLLATE utf8mb4_general_ci  NOT NULL;'
			0.3:
				- 'ADD `group` VARCHAR(80)  CHARACTER SET utf8mb4  COLLATE utf8mb4_general_ci DEFAULT NULL AFTER `name`;'
			0.4:
				- 'ADD `background_image` VARCHAR(255) DEFAULT NULL;'
				- 'ADD `icon` VARCHAR(255) DEFAULT NULL;'
			0.5:
				- 'ADD `intro_file` varchar(255) DEFAULT NULL AFTER `file_name`;'
				- 'ADD `ending_file` varchar(255) DEFAULT NULL AFTER `intro_file`;'
				- 'ADD `armed_file` varchar(255) DEFAULT NULL AFTER `ending_file`;'
		indexes:
			-
				name: group
				columns: ['group']
	App\Models\Playlist:
		order: 0
		definition: '''
		(
			`id_playlist` int(11) unsigned NOT NULL AUTO_INCREMENT,
			`name` varchar(80) NOT NULL,
			PRIMARY KEY (`id_playlist`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	playlist_music:
		order: 1
		definition: '''
		(
			`id_playlist` int(11) unsigned NOT NULL,
			`id_music` int(11) unsigned NOT NULL,
			PRIMARY KEY (`id_playlist`, `id_music`),
			KEY `id_playlist` (`id_playlist`),
			KEY `id_music` (`id_music`),
			CONSTRAINT `playlist_music_ibfk_1` FOREIGN KEY (`id_music`) REFERENCES `music` (`id_music`) ON DELETE CASCADE ON UPDATE CASCADE,
			CONSTRAINT `playlist_music_ibfk_2` FOREIGN KEY (`id_playlist`) REFERENCES `playlists` (`id_playlist`) ON DELETE CASCADE ON UPDATE CASCADE
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		foreignKeys:
			-
				column: id_music
				refTable: App\Models\MusicMode
				refColumn: id_music
			-
				column: id_playlist
				refTable: App\Models\Playlist
				refColumn: id_playlist
