extensions:
	search: Nette\DI\Extensions\SearchExtension(%constants.tempDir%)
	orisai.console: App\DI\Extensions\ConsoleExtension
orisai.console:
	name: 'Laser arena Control'
search:
	commands:
		in: '%constants.appDir%/src/Cli/Commands'
		extends:
			- Symfony\Component\Console\Command\Command
		tags:
			- console.command