extensions:
	orisai.scheduler: App\DI\Extensions\SchedulerExtension
orisai.scheduler:
	console:
		script: '%constants.appDir%bin/console'
	errorHandler: tracy
	jobs:
		gamesSync:
			# Every 5 minutes
			expression: */5 * * * *
			callback: [@cron.gamesSync, 'run']
		#gamesPrecache:
		#	expression: * * * * *
		#	callback: [@cron.gamesPrecache, 'run']
		vestSync:
			# Every 15 minutes
			expression: */15 * * * *
			callback: [@cron.vestSync, 'run']
		logArchive:
			# Every day at 6:00
			expression: 0 6 * * *
			callback: [@cron.logArchive, 'run']
		playersSync:
			# Every day at 6:30
			expression: 30 6 * * *
			callback: [@cron.ligaPlayerSync, 'run']
		resultsImport:
			# Every minute
			expression: * * * * *
			callback: [@cron.resultsImport, 'run']
		clearGroups:
			# Every day at 6:00
			expression: 0 6 * * *
			callback: [@cron.clearGroups, 'run']
services:
	# Jobs tasks
	task.gamesPrecache: App\Tasks\GamePrecacheTask
	task.gamesHighlights: App\Tasks\GameHighlightsTask
	task.gamesImport: App\Tasks\GameImportTask
	task.musicTrimPreview: App\Tasks\MusicTrimPreviewTask
	task.musicSync: App\Tasks\MusicSyncTask
	task.musicLoad: App\Tasks\MusicLoadTask
	task.ligaPlayersSync: App\Tasks\PlayersSyncTask
	task.handleCommand: App\Tasks\HandleCommandTask

	# Cron jobs
	cron.gamesSync: App\Cron\GamesSyncJob(limit: %gamesSync.limit%, timeout: %gamesSync.timeout%)
	cron.vestSync: App\Cron\VestSyncJob
	cron.logArchive: App\Cron\LogArchiveJob
	cron.gamesPrecache: App\Cron\GamesPrecacheJob
	cron.resultsImport: App\Cron\ResultsImportJob
	cron.ligaPlayerSync: App\Cron\PlayersSyncJob
	cron.clearGroups: App\Cron\ClearGroupsJob