includes:
	- vendor/lsr/core/migrations.neon
	- config/migrations/gameGroups.neon
	- config/migrations/games.neon
	- config/migrations/gate.neon
	- config/migrations/music.neon
	- config/migrations/users.neon
tables:
	page_info:
		order: 0
		definition: '''
    		(
    			`key` varchar(30) NOT NULL DEFAULT '',
    			`value` BLOB DEFAULT NULL,
    			PRIMARY KEY (`key`)
    		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    		'''
		modifications:
			0.1:
				- 'CHANGE `value` `value` BLOB DEFAULT NULL;'
	App\Models\PriceGroup:
		order: 0
		definition: '''
		(
			`id_price` int(11) unsigned NOT NULL AUTO_INCREMENT,
			`name` varchar(100) NOT NULL DEFAULT '',
			`price` int(11) NOT NULL DEFAULT 0,
			`deleted` tinyint(1) NOT NULL DEFAULT 0,
			PRIMARY KEY (`id_price`)
		) ENGINE InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		modifications:
			0.1:
				- 'ADD `deleted` tinyint(1) NOT NULL DEFAULT 0'
		indexes:
			-
				name: deleted
				columns: ['deleted']
	App\GameModels\Game\PrintStyle:
		order: 0
		definition: '''
		(
			`id_style` int(10) unsigned NOT NULL AUTO_INCREMENT,
			`name` varchar(50) COLLATE utf8_czech_ci DEFAULT NULL,
			`color_dark` varchar(7) COLLATE utf8_czech_ci NOT NULL DEFAULT '#304D99',
			`color_light` varchar(7) COLLATE utf8_czech_ci NOT NULL DEFAULT '#a7d0f0',
			`color_primary` varchar(7) COLLATE utf8_czech_ci NOT NULL DEFAULT '#1b4799',
			`bg` varchar(100) COLLATE utf8_czech_ci NOT NULL DEFAULT 'assets/images/print/bg.jpg',
			`bg_landscape` varchar(100) COLLATE utf8_czech_ci NOT NULL DEFAULT 'assets/images/print/bg_landscape.jpg',
			`default` tinyint(1) NOT NULL DEFAULT 0,
			PRIMARY KEY (`id_style`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;
		'''
		modifications:
			0.1:
				- 'ADD `bg_landscape` VARCHAR(100)  NOT NULL  DEFAULT ''assets/images/print/bg_landscape.jpg'' AFTER `bg`;'
	App\GameModels\Game\PrintTemplate:
		order: 0
		definition: '''
		(
			`id_template` int(11) unsigned NOT NULL AUTO_INCREMENT,
			`slug` varchar(50) NOT NULL DEFAULT '',
			`name` varchar(50) DEFAULT NULL,
			`description` text DEFAULT NULL,
			`orientation` enum('landscape','portrait') NOT NULL DEFAULT 'portrait',
			PRIMARY KEY (`id_template`),
			UNIQUE KEY `slug` (`slug`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		indexes:
			-
				name: 'slug'
				columns: ['slug']
				unique: true
	'print_styles_dates':
		order: 1
		definition: '''
		(
			`id_style` int(10) unsigned NOT NULL,
			`date_from` date NOT NULL,
			`date_to` date NOT NULL,
			KEY `style` (`id_style`),
			CONSTRAINT `style` FOREIGN KEY (`id_style`) REFERENCES `print_styles` (`id_style`) ON DELETE CASCADE ON UPDATE CASCADE
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;
		'''
		foreignKeys:
			-
				column: 'id_style'
				refTable: App\GameModels\Game\PrintStyle
				refColumn: 'id_style'
	App\GameModels\Tip:
		order: 0
		definition: '''
		(
			`id_tip` int(11) unsigned NOT NULL AUTO_INCREMENT,
			`text` text DEFAULT NULL,
			`translations` BLOB DEFAULT NULL,
			PRIMARY KEY (`id_tip`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		modifications:
			0.1:
				- 'ADD `translations` BLOB DEFAULT NULL'