includes:
	- services-common.neon
parameters:
services:
	templating.latte.engine:
		create: Latte\Engine()
		setup:
			- setTempDirectory(%templating.tmpPath%)
			- addExtension(@templating.latte.extension)
			- addExtension(@cache.extension.latte)
			- setAutoRefresh(false)
		tags:
			- templating