extensions:
	caching: Nette\Bridges\CacheDI\CacheExtension(%constants.tempDir%)
parameters:
	gotenberg:
		host: gotenberg
		port: 3000
	routing:
		routeFiles:
			- %constants.appDir%routes
		controllers:
			- %constants.appDir%src/Controllers
services:
	- App\Services\VersionService
	- App\Services\RegressionCalculator
	features: App\Services\FeatureConfig
	regression.evo5: App\GameModels\Tools\Evo5\RegressionStatCalculator
	liga: App\Services\LigaApi::getInstance()
	playersProvider: App\Services\PlayerProvider
	gotenberg: App\Services\GotenbergService(%gotenberg.host%, %gotenberg.port%)
	caching.journal: Nette\Caching\Storages\SQLiteJournal('%constants.tempDir%journal.s3db')
	evo5.simulator: App\Services\Evo5\GameSimulator