%players-teams {
	display: flex;
	flex-direction: column;
}

%gate-wrapper {
	--cols: 3;
	--rows: 4;

	display: grid;
	grid-gap: 3rem;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	height: 100%;
	width: 100%;
}

#gate {
	background-image: url('/assets/images/gate/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	font-size: 1.3em;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3rem;
	min-height: 1081px;
	min-width: 1920px;
	overflow: hidden;
	padding: 2em 0;

	.tip {
		font-size: 1.5rem;
		padding: .75rem 0;
	}

	main {
		padding: 2em 3em 0;
	}

	.results {
		@extend %gate-wrapper;
		grid-template-areas: '. players' 'teams players';
		grid-template-columns: 27rem 1fr;
		grid-template-rows: 9rem 1fr;

		.win {
			align-self: end;
			font-size: 1.5em;
			grid-area: win;

			> div {
				border-radius: calc(1.5em + .8rem);
				padding: .4rem;
				text-align: center;
			}
		}

		.players {
			@extend %players-teams;
			grid-area: players;
			justify-content: flex-end;
		}

		.teams {
			@extend %players-teams;
			align-items: center;
			align-self: end;
			display: flex;
			flex-direction: column;
			grid-area: teams;
			height: 100%;
			justify-content: space-between;
		}

		.player {
			background-color: rgba(255, 255, 255, .9);

			> div {
				flex: 1;
			}
		}

		.team {
			flex-direction: column;
			justify-content: center;
			max-width: 14rem;
			min-height: 6rem;

			.name {
				font-size: 1.7rem;
			}
		}

		.player,
		.team {
			align-items: center;
			border-radius: 10px;
			display: flex;
			margin: .1rem 0;
			width: 100%;

			> .name,
			> .score,
			> .rank,
			> .position,
			> .rank-name {
				padding: .4rem 1rem;
			}

			> .name {
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
				font-weight: bold;
			}

			> .position {
				font-size: 1.7rem;
				max-width: 6%;
				text-align: center;
			}

			> .score {
				font-size: 1.7rem;
				font-weight: bold;
			}
		}

		.rank-name {
			display: flex;
			flex-direction: column;

			.name {
				font-size: 1.4rem;
				font-weight: bold;
				text-shadow: 0 0 5px var(--white);
				text-transform: uppercase;
			}
		}

		.team svg {
			position: relative;
			top: -.2rem;
		}

		.rank svg {
			position: relative;
			top: calc((-1.4rem + 15px) / 2);
		}

		svg {
			path {
				fill: var(--text-color);
			}
		}
	}

	.today {
		@extend %gate-wrapper;
		--cols: 4;
		font-size: 1.55rem;
		grid-template-areas: '. title title .' 'score score best best' 'score score best best' 'timer timer timer timer';
		padding: 0 10rem;

		.table {
			border-color: var(--print-dark);
		}

		td,
		th {
			vertical-align: middle;
		}

		.title {
			align-self: end;
			grid-area: title;
		}

		.score {
			display: flex;
			flex-direction: column;
			grid-area: score;
			justify-content: space-between;
		}

		.best {
			grid-area: best;
		}

		.timer {
			align-self: center;
			font-size: 7rem;
			font-weight: bold;
			grid-area: timer;
			text-align: center;
		}

		.text-center svg {
			margin: 0 auto;
			position: relative;
		}

		svg {
			display: block;

			path {
				fill: var(--text-color);
			}
		}
	}

	.vests {
		@extend %gate-wrapper;
		grid-gap: 1rem;
		padding-left: 23rem;

		.vest {
			align-self: start;
			color: var(--white);
			font-weight: bold;
			justify-self: center;
			position: relative;
			text-align: center;
			text-shadow: 0 0 5px rgba(0, 0, 0, .8);
			text-transform: uppercase;

			.number {
				font-size: 2rem;
				position: absolute;
				top: 2.5rem;
				width: 100%;
			}

			svg {
				display: block;
				margin: 0 auto;
				position: relative;
			}
		}
	}
}
