%players-teams {
	display: flex;
	flex-direction: column;
	padding-bottom: 2.5rem;
}

%gate-wrapper {
	--cols: 3;
	--rows: 4;

	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	height: 100%;
	width: 100%;
}

#gate {
	--multiplier: 1;
	background-image: url('/assets/images/gate/bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: calc(1.3em * var(--multiplier));
	min-height: 1081px;
	min-width: 1920px;
	overflow: hidden;
	padding: 2rem;

	.tip {
		bottom: 1rem;
		font-size: 1.5rem;
		left: 0;
		padding: .75rem 0;
		position: fixed;
		width: 100%;
	}

	main {
		display: grid;
		grid-gap: 3rem;
		grid-template-areas: 'logo logo . . . . . . . .'
			                   '. . . . . . . . . .'
			                   '. . . . . . . . . .'
			                   '. . . . . . . . . .';
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height: calc(100vh - 4rem);
		justify-content: center;
		justify-items: center;
		padding: 0;
		width: calc(100vw - 4rem);
	}

	#arena-logo {
		align-self: end;
		grid-area: logo;
	}

	.results {
		grid-column-gap: 1.5rem;
		grid-template-areas: 'logo logo players players players players players players players teams'
			                   'info info players players players players players players players teams'
			                   'info info players players players players players players players teams'
			                   'info info players players players players players players players teams';
		//grid-template-areas: '. players teams' 'info players teams';
		//grid-template-columns: 27rem 1fr 13rem;
		//grid-template-rows: 9rem 1fr;

		&.no-teams {
			grid-template-areas: 'logo logo players players players players players players players players'
			                     'info info players players players players players players players players'
			                     'info info players players players players players players players players'
  			                   'info info players players players players players players players players';
		}

		.info {
			align-items: center;
			color: var(--white);
			display: flex;
			flex-direction: column;
			grid-area: info;
			justify-content: center;
			text-align: center;

			svg {
				border-radius: 1rem;
			}
		}

		.win {
			align-self: end;
			font-size: 1.5em;
			grid-area: win;

			> div {
				border-radius: calc(1.5em + .8rem);
				padding: .4rem;
				text-align: center;
			}
		}

		.players {
			@extend %players-teams;
			grid-area: players;
			justify-content: flex-end;
			width: 100%;
		}

		.teams {
			@extend %players-teams;
			align-items: center;
			align-self: end;
			display: flex;
			flex-direction: column;
			grid-area: teams;
			height: 100%;
			justify-content: space-between;
			text-align: center;
		}

		.player {
			background-color: rgba(255, 255, 255, .9);
			flex: 1;

			> div {
				flex: 1;
			}
		}

		.team {
			flex-direction: column;
			justify-content: center;
			max-width: 13rem;
			min-height: 8rem;

			.name {
				font-size: 1.7rem;
			}
		}

		.player,
		.team {
			align-items: center;
			border-radius: 10px;
			display: flex;
			margin: calc(.2rem * var(--multiplier)) 0;
			width: 100%;

			> .name,
			> .score,
			> .rank,
			> .position,
			> .rank-name {
				padding: .4rem 1rem;
			}

			> .name {
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
				font-weight: bold;
			}

			> .position {
				font-size: calc(1.7rem * var(--multiplier));
				max-width: 5rem;
				text-align: center;
			}

			> .trophies {
				font-size: calc(1.4rem * var(--multiplier));
			}

			> .score, > .ammo, > .lives {
				font-size: calc(1.7rem * var(--multiplier));
				font-weight: bold;
			}

			svg.accuracy {
				--color: rgb(72, 196, 255);
				display: block;
				margin: 0 auto;
				max-width: calc(5rem * var(--multiplier));
				width: 100%;
				position: relative;

				* {
					font-size: 64pt;
				}

				path,
				rect,
				text {
					fill: var(--color);
				}

				.fill-circle {
					opacity: .4;
					stroke: var(--color);
					transform: rotate(-90deg);
					transform-origin: center;
				}
			}
		}

		.rank-name {
			display: flex;
			flex-direction: column;

			.name {
				font-size: calc(1.4rem * var(--multiplier));
				font-weight: bold;
				text-shadow: 0 0 5px var(--white);
				text-transform: uppercase;
			}
		}

		.team svg {
			position: relative;
			top: -.2rem;
		}

		.rank svg {
			position: relative;
			top: calc((-1.4rem + 15px) / 2);
		}

		svg {
			path {
				fill: var(--text-color);
			}
		}
	}

	.results-csgo, .results-zakladny {
		grid-template-areas: 'logo logo . . . . . . . .'
		                     'teams teams teams teams teams teams teams teams teams teams'
			                   'teams teams teams teams teams teams teams teams teams teams'
  			                 'teams teams teams teams teams teams teams teams teams teams';

		.teams {
			align-items: flex-start;
			display: flex;
			grid-area: teams;
			height: 100%;
			justify-content: center;
		}

		.player {
			background-color: rgba(255, 255, 255, .9);
			border-radius: 10px;
			margin: .2rem;
			min-width: 9rem;
			padding: 1rem;

			&.dead {
				background-color: rgba(250, 200, 200, .8);
			}

			.name {
				font-size: 2rem;
				font-weight: bold;
				margin: .4rem 0;
				text-transform: uppercase;
			}

			.hits-deaths {
				align-items: center;
				display: flex;
				font-size: 1.8rem;
				justify-content: center;

				div {
					margin: 0 1rem;
				}
			}
		}

		.team {
			margin: 20px;

			> .name {
				border-radius: 10px;
				font-size: 1.7rem;
				font-weight: bold;
				margin-bottom: 1rem;
				padding: 1rem 0;
				text-align: center;
				text-transform: uppercase;
			}

			.players {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		.team svg {
			position: relative;
			top: -.2rem;
		}

		svg {
			path {
				fill: var(--text-color);
			}
		}
	}

	.today {
		font-size: 1.55rem;
		grid-template-areas: 'logo logo . . title title . . . .'
			                   '. score score score score best best best best .'
			                   '. score score score score best best best best .'
			                   '. . . . timer timer . . . .';

		.table {
			border-color: var(--print-dark);
		}

		td,
		th {
			vertical-align: middle;
		}

		.title {
			align-self: end;
			grid-area: title;
		}

		.score {
			display: flex;
			flex-direction: column;
			grid-area: score;
			justify-content: space-between;
			justify-self: stretch;
		}

		.best {
			grid-area: best;
			justify-self: stretch;
		}

		.bbd {
			border-bottom: 2px solid var(--print-dark);
		}

		.timer {
			align-self: center;
			font-size: 7rem;
			font-weight: bold;
			grid-area: timer;
			text-align: center;
		}

		.text-center svg {
			margin: 0 auto;
			position: relative;
		}

		svg {
			display: block;

			path {
				fill: var(--text-color);
			}
		}
	}

	.vests {
		grid-template-areas: 'logo logo vest vest vest vest vest vest vest .'
			                   '. . vest vest vest vest vest vest vest .'
			                   '. . vest vest vest vest vest vest vest .'
			                   '. . vest vest vest vest vest vest vest .';


		.vest-grid {
			@extend %gate-wrapper;
			grid-area: vest;
			height: calc(100vh - 4rem);
		}

		.vest {
			align-self: stretch;
			display: flex;
			flex-direction: column;
			font-weight: bold;
			justify-self: stretch;
			position: relative;
			text-align: center;
			text-transform: uppercase;

			.number {
				font-size: 2rem;
				position: absolute;
				top: 30%;
				width: 100%;
			}

			svg {
				display: block;
				//flex: 1;
				margin: 0 auto;
				max-height: 10rem;
				position: relative;
			}

			path {
				fill: currentColor;
				stroke: none;
			}
		}
	}
}
