@import 'gate/animations';
@import 'gate/parts';
@import '../components/titles';

#gate {
	--multiplier: 1;
	background-image: var(--gate-background, url('/assets/images/gate/bg.png'));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: calc(1.3em * var(--multiplier));
	min-height: 1081px;
	min-width: 1920px;
	overflow: hidden;
	padding: 2rem;

	.tip {
		bottom: 1rem;
		font-size: 1.5rem;
		height: 3rem;
		left: 0;
		padding: .75rem 0;
		position: fixed;
		width: 100%;
		z-index: 10;

		.content {
			animation-fill-mode: forwards;
			left: 0;
			line-height: 3rem;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;

			&.prev {
				animation: tip-slide-out 1s ease;
			}

			&.next {
				animation: tip-slide-in 1s ease;
			}
		}

    .player-name {
      color: var(--bs-primary);
    }
	}

	main {
		height: calc(100vh - 4rem);
		padding: 0;
		position: relative;
		width: calc(100vw - 4rem);

		.content {
			@extend %gate-content;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}

		#arena-logo {
			display: flex;
			height: calc(26% - 3rem);
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: calc((100% - (4 * 1.5rem)) / 5);
		}


		.timer {
			position: fixed;
			font-size: 7rem;
			font-weight: bold;
			text-align: center;
			bottom: 2.5rem;
			width: 100%;
		}
	}
}
