@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';
@import 'newGame/music';

#new-game-content {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: [main-start vests-start control-start] 1fr 1fr 1fr 1fr 1fr 1fr [vests-end settings-start mode-start control-end games-start] 1fr 1fr [teams-start] 1fr [mode-end games-end print-start music-start] 1fr [teams-end] 1fr 1fr [music-end main-end print-end settings-end];
	grid-template-rows: [main-start control-start games-start print-start] auto [control-end games-end print-end vestcontrol-start mode-start music-start] auto [vestcontrol-end mode-end music-end game-start variations-start] auto [variations-end random-start] auto [random-end teams-start] auto [teams-end] auto [main-end game-end];

	@include media-breakpoint-down(xl) {
		grid-template-columns: [main-start vests-start control-start] 1fr 1fr 1fr 1fr 1fr 1fr [control-end games-start] 1fr 1fr [vests-end mode-start settings-start teams-start music-start] 1fr [games-end print-start] 1fr 1fr 1fr [mode-end teams-end music-end main-end print-end settings-end];
		grid-template-rows: [main-start control-start games-start print-start] auto [control-end games-end print-end vestcontrol-start music-start] auto [music-end vestcontrol-end game-start mode-start] auto [mode-end variations-start] auto [variations-end random-start] auto [random-end teams-start] auto [teams-end] auto [main-end game-end];
	}

	@include media-breakpoint-down(lg) {
		grid-template-columns: [main-start vests-start control-start teams-start] 1fr 1fr 1fr 1fr [teams-end control-end vests-end settings-start mode-start music-start print-start games-start] 1fr 1fr [games-end print-end mode-end music-end main-end settings-end];
		grid-template-rows: [main-start control-start print-start] auto [control-end print-end games-start vestcontrol-start] auto [vestcontrol-end games-end music-start game-start] auto [music-end mode-start] auto [mode-end variations-start] auto [variations-end] 1fr [game-end random-start teams-start] auto [random-end teams-end main-end ];
	}

	@include media-breakpoint-down(md) {
		grid-template-columns: [main-start vests-start control-start teams-start settings-start mode-start games-start] 1fr [games-end mode-end music-start print-start] 1fr [ print-end music-end main-end settings-end teams-end control-end vests-end];
		grid-template-rows: [main-start control-start] auto [control-end print-start games-start ] auto [print-end games-end music-start mode-start] auto [music-end mode-end variations-start] auto [variations-end vestcontrol-start] auto [vestcontrol-end random-start] auto [random-end game-start] auto [game-end teams-start] auto [ teams-end main-end ];
	}

	@include media-breakpoint-down(sm) {
		grid-template-columns: [main-start vests-start control-start teams-start settings-start mode-start games-start music-start print-start] 1fr [games-end mode-end print-end music-end main-end settings-end teams-end control-end vests-end];
		grid-template-rows: [main-start control-start] auto [control-end print-start] auto [print-end games-start] auto [games-end mode-start] auto [mode-end music-start] auto [music-end variations-start] auto [variations-end vestcontrol-start] auto [vestcontrol-end random-start] auto [random-end game-start] auto [game-end teams-start] auto [ teams-end main-end ];

	}


	@import 'newGame/common';
	@import 'newGame/control';
}
