{templateType App\Tools\GameLoading\LasermaxxLoadData}
{block |trim|replace:"\t",''}
	{varType string $metaString}

	{syntax double}
		GROUP{,{{$metaString}}}#

		{{foreach $players as $player}}
		PACK{{{$player['vest']}},{{$player['name']}},{{$player['team']}},0,{{$player['vip'] ? 1 : 0}},0,0}#
		{{/foreach}}

		{{foreach $teams as $team}}
		TEAM{{{$team['key']}},{{$team['name']}},{{$team['playerCount']}}}#
		{{/foreach}}
	{{/syntax}}
{/block}