{templateType App\Tools\GameLoading\LasermaxxLoadData}
{block |trim|replace:"\t",''}
	{syntax double}
		GROUP{,{{$metaString}},{{$soloTeam}}}#

		{{foreach $players as $player}}
		PACK{{{$player->vest}},{{$player->name}},{{$player->team}},0,{{$player->vip ? 1 : 0}},0,0,{{$player->birthday ? 1 : 0}}}#
		{{/foreach}}

		{{foreach $teams as $team}}
		TEAM{{{$team->key}},{{$team->name}},{{$team->playerCount}}}#
		{{/foreach}}
    {{/syntax}}
{/block}