{layout '../@layout.latte'}

{varType string $screenHash}
{varType array $widgets}

{define containerClasses}
    today-highlights
{/define}

{define content}
    <meta data-hash="{$screenHash}">

    {foreach $widgets as $widget}
        {include '../widgets/'.$widget['template'], ...$widget['data']}
    {/foreach}

{/define}