.BtnDorucovaniNabidek:hover {
	color: pink;

}

.BtnDorucovaniNabidek:hover {
	fill: pink;
}

.BtnDorucovaniNabidek:hover path {
	fill: pink;
}

.p2 {
	font-size: 14px !important;
	line-height: 17px !important;
}

.p-seda-14px {
	color: var(--dtp-grey);
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1.5px;
	line-height: 17.5px;
}

.first-letter-cap:first-letter {
	text-transform: uppercase;
}

a {
	color: var(--dtp-primary);
	text-decoration: none;
}

p,
label {
	line-height: 20px;
}

// Generate letter spacing classes
@each $name, $size in $letter-spacings {
	.letter-spacing-#{$name} {
		letter-spacing: $size !important;
	}
}

// Responsive text classes
@each $breakpoint, $window in $grid-breakpoints {
	@include media-breakpoint-up($breakpoint) {

		// Letter spacings
		@each $name, $size in $letter-spacings {
			.letter-spacing-#{$breakpoint}-#{$name} {
				letter-spacing: $size !important;
			}
		}

		// Font sizes
		@each $name, $size in $font-sizes {
			.fs-#{$breakpoint}-#{name} {
				font-size: $size !important;
			}
		}

		.fs-#{$breakpoint}-default {
			font-size: 1em !important;
		}
	}
}
